rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any authenticated user to read and write to any document
    // within any subcollection under a specific school.
    // The {document=**} wildcard matches the school document itself
    // as well as all documents in all subcollections recursively.
    match /schools/{schoolId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
